@using Project.Core.Objects;
@{ 
    User user = null;
    if (Session["Login"]!=null)
    {
         user = Session["Login"] as User;
    }
}
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <h1>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    Recruit
                </a>
            </h1>
            <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="ml-lg-5 navbar-nav mr-lg-auto">
                    <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                        <a href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                    <li class="nav-item mr-lg-4 my-lg-0 mb-sm-4 mb-3">
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                    <li class="nav-item dropdown mr-lg-4 my-lg-0 my-sm-4 my-3">
                        @Html.ActionLink("Vacancy", "Index", "Vacancies")
                    </li>
                    @if (user != null)
                    {
                        <li class="nav-item mr-lg-4 my-lg-0 mb-sm-4 mb-3">
                            @Html.ActionLink("Interview", "Interview", "VacancyApplicant")
                        </li>
                        <li class="nav-item mr-lg-4 my-lg-0 mb-sm-4 mb-3">
                            @Html.ActionLink("Admin","Index", "Default")
                        </li>
                    }
                </ul>
                @if (user == null)
                {
            <a type="button" href="@Url.Action("Index","Login")" class="btn w3ls-btn btn-2 ml-lg-1 text-uppercase font-weight-bold d-block">
                Sign in
            </a>
                }
                
            </div>
        </nav>
    </div>
</header>

