<div class="nav-left-sidebar sidebar-dark">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="menu-list" style="overflow: hidden; width: auto; height: 100%;">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">

                        <li class="nav-divider">
                            <h3 style="color:white">Menu</h3>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","ApplicantManages")"><i class="fa fa-user pb-1" aria-hidden="true" style="color:white"></i>Applicants Management</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Interviews")"><i class="fa fa-bell pb-1" aria-hidden="true" style="color:white"></i>Interviews Management </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("List","Vacancies")"><i class="fa fa-briefcase pb-1" aria-hidden="true" style="color:white"></i>Vacancies Management </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("InterviewCensorship","VacancyApplicant")"><i class="fa fa-address-card pb-1" aria-hidden="true" style="color:white"></i>Interviews Censorship</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","VacancyApplicant")"><i class="fa fa-paper-plane pb-1" aria-hidden="true" style="color:white"></i>Vacancy Applicant</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 722.8px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
    </div>
</div>

