
@using PagedList.Mvc;
@model PagedList.IPagedList<Project.Core.Objects.Interview>


@{
    ViewBag.Title = "Interview";
    Layout = "~/Views/Shared/_Client.cshtml";
}

<h2 class="text-center">Interview Management</h2>
@using (Html.BeginForm())
{
    <input type="search" name="search" required />
    <input type="submit" value="Search by name" />
}

<table class="table">
    <tr>
        <th>
            Interviewer
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.User.Name
            </td>
            <td>
                <table class="table">
                    <tr>
                        <th>
                            Applicant
                        </th>
                        <th>
                            Vacancy
                        </th>
                        <th>
                            Interview time
                        </th>
                        <th>

                        </th>

                    </tr>
                    @foreach (var interview in item.VacancyApplicants.Where(p => p.Status == 0))
                    {
                        <tr>
                            <td>
                                @interview.ApplicantId - @interview.Applicant.Name
                            </td>
                            <td>
                                @interview.VacancyId - @interview.Vacancy.Name
                            </td>
                            <td>
                                @interview.InterviewTime
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details01", "VacancyApplicant", new { id = interview.Id }, null)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))